VITE_SUPABASE_URL=your_supabase_url
VITE_SUPABASE_ANON_KEY=your_anon_key
VITE_WEDDING_DATE=2026-04-29T17:30:00+05:30
VITE_BRIDE_NAME=Hazhlit Mahima
VITE_GROOM_NAME=Joel Joseph
VITE_VENUE_NAME=Captains Crown Hotels & Resort
VITE_VENUE_ADDRESS=Opp. to Nisargadhama, Madapatna, Kushalangar, Karnataka
VITE_VENUE_MAP_QUERY=Captains Crown Hotels Resort Kushalangar Karnataka
VITE_CONTACT_NAME=Jestin Joseph
VITE_CONTACT_PHONE=+91 82176 49488
VITE_DRESS_CODE=Traditional or formal attire
VITE_WEDDING_QUOTE=I have found the one whom my soul loves.
VITE_WEDDING_QUOTE_REF=Song of Solomon 3:4
VITE_BRIDE_PARENTS=Mr. C K Baby & Mrs. Nathalia D'Souza
VITE_GROOM_PARENTS=Mr. Joseph Pinto & Mrs. Joice Joseph
